[Unit]
Description=setup nextcloud pod

[Container]
Image=p-nextcloud-setup.build
ContainerName=nextcloud-setup
ServiceName=pc-nextcloud-setup
Mount=type=volume,source=p-nextcloud.volume,destination=/data,U=false
Network=p-internal.network

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
