[Unit]
Description=reset nextcloud pod

[Container]
Image=p-nextcloud-setup.build
ContainerName=nextcloud-reset
ServiceName=pc-nextcloud-reset
Mount=type=volume,source=p-nextcloud.volume,destination=/data,U=false
Network=p-internal.network
Exec=reset

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
